*{
    margin:0;
    padding:0;
}
.container {
    width:100vw;
    height:100vh;  
    overflow: hidden;

}
.slide{
    width:100%;
    height:100%;
    opacity:0;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide:first-child{
    background-image: url(./img/1.jpg) ;
}
.slide:nth-child(2){
    background-image: url(./img/2.jpg) ;
}
.slide:nth-child(3){
    background-image: url(./img/3.jpg) ;
}
.slide:nth-child(4){
    background-image: url(./img/4.jpg) ;
}
.slide:nth-child(5){
    background-image: url(./img/5.jpg) ;
}
.slide:nth-child(6){
    background-image: url(./img/6.jpg) ;
}

.slide.current{
    opacity:1;
}

.icon{
    font-size: 2rem;
    color:white;
    cursor: pointer;
}

.left{
    position: absolute;
    left:2rem;
    top:50%;
}

.right{

    position: absolute;
    right:2rem;
    top:50%;

}

.box{
    background-color: white;
    width:25rem;
    border-radius: 3px;
    padding:1.5rem;
    left:0rem;
    position:fixed;
    bottom:2rem;
    transform: translateX(-28rem);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box h2{
    margin-bottom:0.5rem ;
    text-transform: capitalize;
}

.current .box{
    transform: translateX(1rem);
    transition: transform 0.75s ease-out;
}


@media(max-width:500px){
    .box{
        transform: none;
        left:0px;
        bottom:-120px;
        width:100%;
    }

    .current .box{
        transform: translateY(-120px);
    }

}